
/* Small devices (tablets, 768px and up) */
@media screen and (min-width:320px) {
    /* ... */ }


.alert-info {
    background-color: #75aaff;
    height: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;

}

body > div.alert-info.hidden-on-desktop > a {
    text-decoration: none;
    color: black;

}

body {
    font-family: Verdana;

}

.sub-section {
    font-style: italic;
}

img {
    max-width: 100%;
    padding: 0;
    height: auto;

}

h1 {
    text-align: center;
}

li {
    background-color: gray;
    height: 30px;
    text-align: center;
    list-style: none;
    margin-bottom: .5em;
    padding-top: .5em;
}

.nav-links {
    margin: 5px 0;
    list-style-type: none;
    padding: 0;
}



/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }